.form-control.score-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.score-container svg {
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.score-container svg:hover {
    fill: #7076f4;
}

.score-container input:checked ~ svg {
    fill: #7076f4;
}

.radio-container {
    text-align: center;
    position: relative;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    top: 15px;
    left: 30px;
}

.radio-container p {
    font-size: .7rem;
    font-weight: 300;
    font-style: italic;
    margin-top: .3rem;

}


